/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  font-family: sans-serif;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

button {
  background-color: transparent;
  border: none;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

/* Utilities */
.wrapper {
  display: flex;
  height: calc(100vh - 90px);
  background-color: #141318;
}

.footer-nav {
  background-color: #2d2d35;
  height: 90px;
}

/* Sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 25px 15px;
  width: 90px;
}

.sidebar-item {
  max-width: 60px;
  max-height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

/* Messages */
.chat-box {
  padding: 20px 20px 0 20px;
  background-color: #1c1d22;
  width: calc(100% - 80px);
  height: 99%;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  border-radius: 20px 0 0 0;
}

.chat-box > header {
  height: 80px;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header nav {
  display: flex;
  align-items: center;
}

.add-friends {
  text-align: center;
  line-height: 35px;
  height: 100%;
  margin: 0 20px;
  flex-grow: 1;
  background-color: #373a43;
  border-radius: 15px;
}

.search {
  font-size: 1.1rem;
  background-color: #373a43;
  text-align: center;
  padding: 8px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.chat-list {
  flex-grow: 1;
}
