/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

button {
  background-color: transparent;
  border: none;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

/* Utilities */
.debug {
  border: 2px dashed red;
  padding: 6px;
}

.wrapper {
  display: flex;
  height: calc(100vh - 90px);
}

.messages {
  background-color: #1c1d22;
  width: calc(100% - 80px);
  display: flex;
  flex-direction: column;
}

.messages > header {
  height: 80px;
}

.chat-box {
  flex-grow: 1;
}

.footer-nav {
  background-color: #2d2d35;
  height: 90px;
}

/* Sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 25px 15px;
  width: 90px;
  background-color: #141318;
}

.sidebar-item {
  max-width: 60px;
  max-height: 60px;
  border-radius: 50%;
  overflow: hidden;
}
